@import"./reset.css";
@import"./media.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
 body{
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 0;
   
    min-width: 1200px;
}
*{
    box-sizing: border-box;
}
.header{
   
padding-top: 46px; 

background: #F1F1F1;

margin-top: -10px;


}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    
    width: 1200px;
}
.title-1{
    font-size: 34px;
    font-weight: 600;
    }
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}
.logo{
    font-weight: 700;
    font-size: 32px;
    color: #000;
    text-decoration: none;
    padding-right:12px ;
    padding-top: 3px;
   position: relative;
  
}
.logo::after{
    width: 8px;
    border-radius: 50%;
    background: #FDA300;
    position: absolute;
    height: 8px;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.nav-list{
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
    list-style-type: none;
}

a:hover{
    transform: scale(1.1);
}

.nav-links {
text-decoration: none;
color: #000;

}

.nav-button{
    display: block;
}
.nav-list :hover{
    transform: scale(1.2);
}

.nav-links .act:hover{
    transform: scale(1.1);
}

.nav-links.act{
    color: #606060;
}

.header-row{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

}

.hero{
    margin-bottom: -5px;
   
    
}

.header-heading{
    font-weight: 600;
    font-size: 44px;
     margin-bottom: 20px;
}

.header-heading p{
    line-height: 2;
}

.header-content{
    max-width: 500px;
    margin-top: 124px;
}

.services{
padding: 90px 0;
}

.services-row{
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 60px;
}



.service-card{
   flex: 1 1 0;
   min-width: 330px;
}

.service-card-title{
margin-bottom: 10px;
font-size: 24px;
font-weight: 600;
text-transform: uppercase;
}

.service-card-img{
margin-bottom: 10px;
}
.service-card p{
    line-height: 2;
}

.portfolio{
background-color: #F1F1F1;
padding: 90px 0;

}

.portfolio-title{
text-align: center;
margin-bottom: 110px;
}  

.project{

text-align: center;
}
.project-img{
margin-bottom: 40px;
}
.project-title a{
color: #000;
font-size: 18px;

}

/* .project-title{
   margin-bottom: 100px;
} */

.project + .project{
    margin-top: 110px;
}

.contacts{
    text-align: center;
    padding: 90px 0;
}

.contacts-title{
margin-bottom: 40px;
}

.contacts-content{
font-size: 18px;
margin-bottom: 40px;
min-width: 480px;
}

.contacts-button{
margin-bottom: 80px;
}
.btn{
background-color: #070707;
color: #fff;
text-decoration: none;
display: inline-block;
padding: 7px 22px;
border-radius: 30px;
font-size: 18px;
}
.contacts-social{
display: flex;
justify-content: center;
column-gap: 60px;
align-items: center;
margin-bottom: 40px;
}

.contacts-content p + p{
    margin-top: 1em;
}

.contacts-footer{
    color: #828282;
}

.nav-button{
    border: none;
    background-color: #F1F1F1;

    position: fixed;
    
        top: 65px;right: 15px;
        display: none;

}